<section>
    <div>
        <h1>SERÁ UM DIA DE CONTEÚDOS, EXPERIÊNCIAS E NETWORK FOCADO PRINCIPALMENTE EM VOCÊ QUE JÁ É FRANQUEADO*</h1>
        <h3>*independente da marca</h3>

        <p>Ao longo do dia vamos levantar tópicos importantes para você empreendedor, como:</p>

        <div id="entregaveis">
            <img src="/assets/imagens/e1.png" alt="entregavel">
            <img src="/assets/imagens/e2.png" alt="entregavel">
            <img src="/assets/imagens/e3.png" alt="entregavel">
            <img src="/assets/imagens/e4.png" alt="entregavel">
            <img src="/assets/imagens/e5.png" alt="entregavel">
            <img src="/assets/imagens/e6.png" alt="entregavel">
        </div>
    </div>
    <img src="/assets/imagens/divisao-2.webp" alt="">
</section>
