<section>
    <div id="paraquem">
        <div>
            <h1><strong>"O PODER DAS FRANQUIAS"</strong><br> É PARA VOCÊ:</h1>
        </div>
        <ul>
            <li>Franqueado que deseja ter sucesso com sua franquia</li>
            <li>Empreendedor que deseja diversificar seus negócios</li>
            <li>Que quer entender como funciona o mundo das franquias</li>
            <li>Que deseja fazer parte de um mercado bilionário</li>
        </ul>
    </div>
    <h2>EM 2023 O <strong>MERCADO DE FRANQUIAS</strong> CRESCEU 13,8% E <strong>ARRECADOU R$ 240,6 BILHÕES.</strong>
    </h2>

    <h1>
        <strong>PELA PRIMEIRA VEZ NO BRASIL</strong>, O FOCO SERÁ AJUDAR O FRANQUEADO E NÃO VENDER FRANQUIAS
    </h1>

</section>