<section>
    <h1>
        OS LÍDERES DE SUAS CATEGORIAS DE ATUAÇÃO DO MERCADO DE FRANCHISING SE REUNIRAM E VÃO COMPARTILHAR SEU
        CONHECIMENTO PARA TE AJUDAR A TER SUCESSO DENTRO DO MERCADO DE FRANQUIAS
    </h1>

    <div class="card">
        <img src="/assets/imagens/zanons-caninza.webp" alt="">
        <div class="sobre">
            <div>
                <h2>Reinaldo Zanon</h2>
                <p>CEO do Grupo Zanon, uma das maiores holding de franquias que atua em diversos segmentos e possui marcas
                    renomadas no mercado de franchising
                </p>
                <details>
                    <summary>Ver mais</summary>
                    <p>Possui mais de 3.000 franquias espalhadas por todo o Brasil, com faturamento anual de mais de 1
                        bilhão de reais. A Seguralta, carro chefe da holding, conquistou em 2022 a posição de 8ª maior rede
                        de Franquias no ranking da ABF (Associação Brasileira de Franchising).
                    </p>
                </details>
            </div>
            <div>
                <h2>Gustavo Zanon</h2>
                <p>CEO da Seguralta, 9 maior rede de franquias do Brasil, iniciou sua careira aos 14anos e aos 24anos já
                    estava à frente dos negócios da família, levando a em presa a sair de uma dívida de R$500mil para um
                    faturamento de mais de meio bilhão.
                </p>
                <details>
                    <summary>Ver mais</summary>
                    <p>Sócio do Grupo Zanon Holding de Franquias, atualmente com 10 marcas e mais de 3.000 unidades
                        espalhadas pelo país, Gustavo é palestrante e realiza eventos nacionais e internacionais
                        compartilhando sua experiência com outros empresários.
                    </p>
                </details>
            </div>
            <div>
                <h2>Leonardo Cannizza</h2>
                <p>Profissional com carreira ascendente na área comercial e administrativa, com atuação no segmento de
                    franquias, e que atualmente atua como Sócio-Diretor de uma das maiores holding de franquias do Brasil, o
                    Grupo Zanon, com mais de 3 mil unidades franqueadas e 10 marcas de sucesso.
                </p>
                <details>
                    <summary>Ver mais</summary>
                    <p>Sua trajetória foi pautada em pilares como disciplina, foco, determinação e entrega de resultados
                        surpreendentes.
                    </p>
                    <p>Com uma vasta experiência em vendas, liderança e gestão, já ajudou centenas de empresas a baterem
                        recordes de faturamento e a conquistarem o sucesso na expansão e estruturação de seus negócios para
                        o modelo de franchising.</p>
                    <p>
                        Leonardo já quebrou diversas vezes, mas nunca pensou em desistir, descobriu o caminho para o
                        sucesso, alcançou a prosperidade e ajudou milhares de empresários a conquistarem esse mesmo êxito.
                    </p>
                </details>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="/assets/imagens/rodrigo.webp" alt="">
        <div class="sobre">
            <div>
                <h2>Rodrigo Barros</h2>
                <p>Fundador da Boali, a maior rede de alimentação saudável do Brasil com mais de 80 unidades no Brasil, Portugal e EUA.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="/assets/imagens/eduardo-wilton.webp" alt="">
        <div class="sobre">
            <div>
                <h2>Eduardo Schroeder e Wilton Bezerra</h2>
                <p>Fundadores da Empório Mineiro Cheirin Bão, o maior ecossistema de cafés especiais do Mundo e mais de 900 unidades no Brasil.
                </p>
            </div>
        </div>
    </div>
        
    <div id="frase">
        <p>Além de serem líderes de seus segmentos, todos os negócios são sólidos e possuem histórico, diferente dos negócios da moda que desaparecem na mesma velocidade em que surgem</p>
        <img src="/assets/imagens/rocket.webp" alt="">
    </div>

    <div id="logos">
        <div>
            <img src="/assets/imagens/logo-seguralta.png" alt="">
            <p>54 anos de mercado</p>
            <cite>Pioneira do segmento de seguros no Brasil.</cite>
        </div>
        <div>
            <img src="/assets/imagens/logo-boali.png" alt="">
            <p>20 anos de mercado</p>
            <cite>Pioneira do segmento de alimentação saudável no Brasil.</cite>
        </div>
        <div>
            <img src="/assets/imagens/logo-cheirin.png" alt="">
            <p>10 anos de mercado</p>
            <cite>Maior ecossistema de cafés especiais do mundo.</cite>
        </div>
    </div>
</section>